.heading {
    text-align: center;
    font-size: 500%;
    font-family: 'Times New Roman', Times, serif;
}

.center {
    text-align: center;
}

hr.line {
    border-top: 2px solid black;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.image {
    align: left;
}

.sub {
    text-align: left;
    /* margin-right: 50px; */
}

.top {
    padding-top: 10px;
}

.appborder {
    border: 2px solid black;
}